body{
    background-color: black;
    color: white
}
#body-item{
    color: red;
}
.fev-food{
    background-color: rgb(19, 72, 57);
    width: 100px;
    border: 3px solid rgb(114, 21, 208);
    border-radius: 5px;
    margin: 2px;
}
.container li{
    color: yellowgreen;
    font-size: 20px;
}