body{
    background-color: burlywood;
}

.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    
}