.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    
}

.box{
    background-color: rgb(105, 64, 10);
    border-radius: 10px;
}

#box-2{
    grid-column: 2;
    grid-row: span 3;
}

#box-3{
    grid-column: 1;
    grid-row: span 2;
}

@media screen and (max-width: 576px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    #box-2{
        grid-column: 1;
    }
}
